/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 20, 2026, 11:20:44 AM
    Author     : rzarins15
*/


        body {
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;}
        }
    
    h1{color:red;
    }
